body {
  background-color: aquamarine;
}

header,
main {
  margin: 0 auto;
}

header {
  border: 1px solid navy;
  text-align: center;
  width: 70%;
}

header a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}

nav {
  background-color: brown;
font-size: 1.6em;
}

main {
  border: 1px solid yellow;
  width: 70%;
  display:flex;
}

section {
  border:2px solid red;
  width: 70%;
}

aside {
  border: 2px solid blue;
  width: 30%;
  background-color: white;
}
